pip install django==2.2.3
pip install pillow
pip install mysqlclient==2.1.0
pip install pandas==0.24.2
pip install scikit-learn==0.22.1
pip install nltk
pip install matplotlib
pip install seaborn